html
{
	height: 100%;
	margin: 0;
}
body
{
	min-height: 100%;
	margin: 0;
	font-family: "American Typewriter";
	background-image: url('https://www.matt-grant.com/images/dots.png');
	background-size: contain;
	display: flex;
	flex-direction: column;
}
header
{
	background-color: #61b727;
	display: flex;
	justify-content: space-between;
}
header a
{
	color: white;
	text-decoration: none;
}
main
{
	color: #000000;
	text-align: center;
	font-size: 18:px;
	flex: 1 0 auto;
}
footer
{
	background-color: #61b727;
	color: #ffffff;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}
h1
{
	color: #61b727;
	font-size: 50px;
	text-shadow: 2px 2px 0 black;
	text-align: center;
}
p
{
	font-size: 25px;
}
.github
{
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
.linkedin
{
	color: #007bb5;
	padding-left: 10px;
	padding-right: 10px;
}
.facebook
{
	color: #3b5998;
	padding-left: 10px;
	padding-right: 10px;
}
.twitter
{
	color: #55acee;
	padding-left: 10px;
	padding-right: 10px;
}
.instagram
{
	color: #e95950;
	padding-left: 10px;
	padding-right: 10px;
}
.bold
{
	font-weight: bold;
	text-decoration: none;
}
a.bold:link
{
	color: #000000;
}
a.bold:visited
{
	color: #000000;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}
/* Centered text */
.centered {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}
.small {
	max-width: 7%;
    height:auto;
}