html
{
	height: 100%;
	margin: 0;
}
body
{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	font-family: "American Typewriter";
}
header
{
	color: #61b727;
	background-color: #dbdbdb;
	text-align: center;
}
header a
{
	color: #61b727;
	text-decoration: none;
}
header ul
{
	list-style-type: none;
	background-color: #61b727;
	margin-bottom: 0;
	padding: 15px;
}
header li
{
	display: inline;
	width: 100%;
}
header li a
{
	color: #ffffff;
	font-size: 25px;
	padding: 15px 50px;
}
header li a:hover
{
	background-color: #4e931f;
}
main
{
	flex: 1;
	color: #000000;
	text-align: center;
	font-size: 18:px;
}
footer
{
	background-color: #61b727;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
}
h1
{
	color: #61b727;
	font-size: 50px;
	text-shadow: 2px 2px 0 black;
}
img
{
	max-width: 1000px;
	width: 50%;
	height: auto;
	margin: auto;
}
.github
{
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
.linkedin
{
	color: #007bb5;
	padding-left: 10px;
	padding-right: 10px;
}
.facebook
{
	color: #3b5998;
	padding-left: 10px;
	padding-right: 10px;
}
.twitter
{
	color: #55acee;
	padding-left: 10px;
	padding-right: 10px;
}
.instagram
{
	color: #e95950;
	padding-left: 10px;
	padding-right: 10px;
}
.bold
{
	font-weight: bold;
	text-decoration: none;
}
a.bold:link
{
	color: #000000;
}
a.bold:visited
{
	color: #000000;
}
